.hero
  margin-top: 12px
  &__slider
    &__item
      padding: 88px 0 98px
      position: relative
      min-height: 280px
      -webkit-border-radius: 50px
      -moz-border-radius: 50px
      border-radius: 50px
      overflow: hidden
      height: auto
    &__image
      &__wrapper
        display: flex
        justify-content: center
        position: absolute
        top: 0
        left: 0
        bottom: 0
        right: 0
        z-index: -1
        overflow: hidden
  &__content
    margin: 0 auto
    color: white
    max-width: 600px
  &__title
    font-family: 'Jost', sans-serif
    font-style: normal
    font-weight: 700
    font-size: 92px
    line-height: 1.1
    text-transform: uppercase
  &__text
    margin-top: 30px
    font-family: 'Montserrat', sans-serif
    font-style: normal
    font-weight: 500
    font-size: 22px
    line-height: 1.45
  &__noted
    margin-top: 42px
    padding: 8px 30px 2px
    display: inline-flex
    align-items: center
    justify-content: center
    gap: 16px
    height: 72px
    -webkit-border-radius: 36px
    -moz-border-radius: 36px
    border-radius: 36px
    text-transform: uppercase
    font-family: 'Jost', sans-serif
    font-style: normal
    font-weight: 600
    font-size: 62px
    line-height: 1.15
    &_red
      background-color: $red
      color: white
  .swiper
    &-pagination-bullet
      width: 40px
      height: 4px
      background: rgba(255, 255, 255, 0.5)
      -webkit-border-radius: 2px
      -moz-border-radius: 2px
      border-radius: 2px
      transition: background-color 0.6s, width 0.6s
      &-active
        background-color: white
        width: 70px
    &-pagination
      bottom: 36px

.advantages
  padding: 96px 0 80px
  &__list
    display: flex
    gap: 80px
  &__item
    padding: 20px 0
    .title_h3
      margin: 20px 0 8px
      font-weight: 400
      font-size: 22px
      line-height: 26px
      color: $darkBlue
    p
      font-family: 'Montserrat', sans-serif
      font-weight: 400
      font-size: 16px
      line-height: 1.6
      color: $greyText

.categories
  padding: 20px 0 140px
  &__list
    display: grid
    gap: 30px
    grid-template-columns: repeat(12, 1fr)
    grid-template-rows: repeat(6, 226px)
  &__item
    padding: 36px 40px
    display: flex
    position: relative
    overflow: hidden
    background-color: white
    -webkit-border-radius: 40px
    -moz-border-radius: 40px
    border-radius: 40px
    -webkit-transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out
    -moz-transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out
    -ms-transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out
    -o-transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out
    &:hover
      box-shadow: 0px 4px 8px 0px #e0e0e0
    &__sticker
      padding: 12px 20px
      position: absolute
      top: 0
      left: 0
      background-color: $red
      color: white
      font-family: 'Jost', sans-serif
      font-weight: 500
      font-size: 14px
      line-height: 20px
      letter-spacing: 0.08em
      text-transform: uppercase
    &__link
      color: $darkBlue
      &::before
        content: ''
        position: absolute
        top: 0
        bottom: 0
        right: 0
        left: 0
      &__wrapper
        padding: 36px 40px
        position: relative
        flex: 1
        -webkit-border-radius: 30px
        -moz-border-radius: 30px
        border-radius: 30px
        -webkit-transition: background-color 0.3s ease-in-out
        -moz-transition: background-color 0.3s ease-in-out
        -ms-transition: background-color 0.3s ease-in-out
        -o-transition: background-color 0.3s ease-in-out
        transition: background-color 0.3s ease-in-out
        overflow: hidden
        &_blue
            background-color: $darkBlue
        &_pink
          background-color: $pink
          &:hover
            background-color: $darkBlue
        .title_h3
          color: white
    &__inner
      position: absolute
      bottom: -60px
      right: -30px
      width: 220px
      height: 220px
      transform: rotate(40deg)
      -webkit-border-radius: 50px
      -moz-border-radius: 50px
      border-radius: 50px
      -webkit-transition: background-color 0.3s ease-in-out
      -moz-transition: background-color 0.3s ease-in-out
      -ms-transition: background-color 0.3s ease-in-out
      -o-transition: background-color 0.3s ease-in-out
      transition: background-color 0.3s ease-in-out
    &_blue
      .categories__item__inner
        background-color: $darkBlue
      &:hover
        background-color: $darkBlue
        .categories__item__inner
          background-color: white
        .title_h3
          color: white
    &_pink
      .categories__item__inner
        background-color: $pink
      &:hover
        background-color: $pink
        .categories__item__inner
          background-color: white
        .title_h3
          color: white
    &_no-inner .categories__item__inner
      display: none
    &_vertical .categories__item__inner
      bottom: -80px
      right: -80px
      width: 320px
      height: 320px
      transform: rotate(24deg)
    &_double-block
      padding: 30px
      display: flex
      flex-flow: column
      gap: 30px
      -webkit-border-radius: 30px
      -moz-border-radius: 30px
      border-radius: 30px
    &_1, &_2
      grid-column: 1 / span 4
    &_2
      grid-row: 2
    &_3
      grid-column: 5 / span 3
      grid-row: 1 / span 2
    &_4
      grid-column: 8 / 13
      grid-row: 1 / span 2
    &_5
      grid-column: 1 / span 6
      .categories__item__inner
        bottom: -152px
        right: -70px
        width: 320px
        height: 320px
    &_6
      grid-column: 7 / span 6
      .categories__item__inner
        bottom: -152px
        right: -70px
        width: 320px
        height: 320px
    &_7
      grid-column: 1 / span 3
      grid-row: 4 / span 2
    &_8
      grid-column: 4 / span 4
    &_9
      grid-column: 8 / span 5
    &_10
      grid-column: 4 / span 4
    &_11
      grid-column: 8 / span 5
    &_12
      grid-column: 1 / span 3
      .categories__item__inner
        width: 180px
        height: 200px
    &_13
      grid-column: 4 / span 3
    &_14
      grid-column: 7 / span 3
      .categories__item__inner
        width: 180px
        height: 200px
    &_15
      grid-column: 10 / span 3
    .title_h3
      position: relative
      z-index: 10
      font-size: 32px
      -webkit-transition: color 0.3s ease-in-out
      -moz-transition: color 0.3s ease-in-out
      -ms-transition: color 0.3s ease-in-out
      -o-transition: color 0.3s ease-in-out
      transition: color 0.3s ease-in-out
  &__image
    position: absolute
    bottom: 0
    right: 0

.sales
  padding: 96px 0 142px
  &__list
    display: flex
    flex-flow: wrap
    column-gap: 30px
    row-gap: 48px
  &__item
    position: relative
    min-height: 400px
    -webkit-border-radius: 50px
    -moz-border-radius: 50px
    border-radius: 50px
    overflow: hidden
    &_big
      padding: 48px 60px 40px
      flex: 3
      max-width: 688px
      min-width: 520px
      .sales__item__text
        max-width: 64%
    &_small
      padding: 48px 50px 16px
      flex: 2
      max-width: 482px
      min-width: 320px
    &__img-wrapper
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      overflow: hidden
      z-index: -1
      img
        min-width: 100%
        min-height: 100%
    &__text
      height: 100%
      display: flex
      flex-flow: column
      color: white
      p
        margin-top: 12px
        font-family: 'Montserrat', sans-serif
        font-weight: 500
        font-size: 22px
        line-height: 1.45
      .title_h3
        font-size: 42px
        line-height: 1.25
    &__bottom
      margin-top: auto
      max-width: 160px

.ya-map
  padding: 96px 0 0
  img
    max-width: 100%

.promo
  margin-top: -50px
  &__wrapper
    padding: 50px 76px
    -webkit-border-radius: 50px
    -moz-border-radius: 50px
    border-radius: 50px
    -ms-transform: translateY(50%)
    -o-transform: translateY(50%)
    transform: translateY(50%)
    background-repeat: no-repeat
    background-position: right center
    background-size: cover
    overflow: hidden
  &__content
    margin-left: auto
    max-width: 576px
  .title_h2
    margin-bottom: 30px
    color: white
    font-size: 42px
  &__inputs-wrapper
    margin-top: 30px
    display: flex
    gap: 10px
    flex-flow: wrap
  &__input
    padding: 0 30px
    flex: 2
    height: 60px
    background-color: transparent
    border: 1px solid white
    -webkit-border-radius: 30px
    -moz-border-radius: 30px
    border-radius: 30px
    color: white
    font-family: 'Jost', sans-serif
    font-style: normal
    font-weight: 400
    font-size: 22px
    line-height: 1.2
    &::placeholder
      color: white
      font-family: 'Jost', sans-serif
      font-style: normal
      font-weight: 400
      font-size: 22px
      line-height: 1.2
  &__submit
    flex: 1

